@charset "UTF-8";
@font-face {
    font-family: 'icomoon';
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2") format("truetype"), url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
.social-networks {
    margin: 0 0 35px;
    padding: 0;
    font-size: 0;
    text-align: center;
}
.social-networks li {
  display: inline-block;
}
.social-networks a {
    display: block;
    position: relative;
    margin: 0 7px;
    width: 68px;
    height: 68px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    text-decoration: none;
}
.social-networks a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 100px;
    background-color: rgba(31, 32, 39, 0.49);
    /*background-color: #1f2027;*/
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
.social-networks a:after {
    position: relative;
    display: block;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #fff;
    font-size: 26px;
    line-height: 66px;
}
.social-networks a:hover, .social-networks a:focus {
    text-decoration: none;
}
.social-networks.spin-icon a:hover:after, .social-networks.spin-icon a:focus:after {
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
}
.social-networks.square a:hover:before, .social-networks.square a:focus:before {
    border-radius: 0;
}
.social-networks .icon-linkedin:after {
    content: "";
}
.social-networks .icon-linkedin:hover:before, .social-networks .icon-linkedin:focus:before {
    background: #0077b5;
}
.social-networks .icon-facebook:after {
    content: "";
}
.social-networks .icon-facebook:hover:before, .social-networks .icon-facebook:focus:before {
    background: #3b5998;
}
.social-networks .icon-twitter:after {
    content: "";
}
.social-networks .icon-twitter:hover:before, .social-networks .icon-twitter:focus:before {
    background: #00b0ed;
}
.social-networks .icon-github:after {
    content: "";
}
.social-networks .icon-github:hover:before, .social-networks .icon-github:focus:before {
    background: #4183c4;
}
.social-networks .icon-instagram:after {
    content: "";
}
.social-networks .icon-instagram:hover:before, .social-networks .icon-instagram:focus:before {
    background: #3f729b;
}
.social-networks .icon-vimeo:after {
    content: "";
}
.social-networks .icon-vimeo:hover:before, .social-networks .icon-vimeo:focus:before {
    background: #1ab7ea;
}
.social-networks .icon-twitch:after {
    content: "";
}
.social-networks .icon-twitch:hover:before, .social-networks .icon-twitch:focus:before {
    background: #6441a5;
}
.social-networks .icon-pinterest:after {
    content: "";
}
.social-networks .icon-pinterest:hover:before, .social-networks .icon-pinterest:focus:before {
    background: #cc2127;
}



/*
===============================================
            1. CSS Skills
===============================================
*/

.skills{
    max-height: 75vh;
    overflow-y: auto;
    padding-right: 16px;
}

.skills::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 10px;
    background-color: transparent;
}
.skills::-webkit-scrollbar{
    width: 8px;
    /*background-color: rgba(0, 0, 0, 0.15);*/
    background-color: transparent;
}
.skills::-webkit-scrollbar-thumb{
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: rgba(224, 224, 224, 0.1);
    /*background-color: #E0E0E0;*/
}
.skills::-webkit-scrollbar-thumb:hover{
    background-color: #BDBDBD;
}

.skills .section {
    margin-bottom: 32px;
}

.skills .section .title {
    padding-bottom: 8px;
    font-size: 15px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
    display: block;
    border-bottom: 1px solid #b1b1b1;
    font-weight: 400;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.skills .section .title i {
    display: inline-block;
    margin-right: 5px;
}

.skills .items {
    margin-left: 16px;
}

.skills .item {
    margin-bottom: 10px;
}

.skills .item .name {
    margin-bottom: 1px;
    font-size: 0.75em;
}

.skills .section .bar_outer {
    height: 10px;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 10px;
    border: 1px solid #009688;
}

.skills .section .bar_inner{
    background: #009688;
}

.skills .section .bar_inner {
    border-radius: 10px 0 0 10px;
    position: relative;
    height: 10px;
    width: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.skills .section .bar_inner .text {
    position: absolute;
    display: none;
    right: 0px;
    top: 0px;
    height: 20px;
    background: rgba(0, 0, 0, 0.15);
    color: #ededed;
    text-shadow: 0 1px 0 #333333;
    font-size: 10px;
    line-height: 10px;
    padding-right: 5px;
    padding-left: 5px;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}